In [59]:
import polars as pl
import re
import os
import dotenv
dotenv.load_dotenv(".env")

True

In [60]:
# dataset link https://www.kaggle.com/datasets/hetbabariya/imdb-movies-data-collection-5000-records?resource=download
df = pl.read_csv("IMDB_Movies_Dataset.csv")
df = df.drop("")
df.head()

shape: (5, 12)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Title     ┆ Average   ┆ Director  ┆ Writer    ┆ … ┆ Languages ┆ Budget    ┆ Worldwide ┆ Runtime  │
│ ---       ┆ Rating    ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ Gross     ┆ ---      │
│ str       ┆ ---       ┆ str       ┆ str       ┆   ┆ str       ┆ str       ┆ ---       ┆ str      │
│           ┆ f64       ┆           ┆           ┆   ┆           ┆           ┆ str       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ The       ┆ 9.3       ┆ Frank     ┆ Stephen   ┆ … ┆ English   ┆ $25,000,0 ┆ $29,332,1 ┆ 2 hours  │
│ Shawshank ┆           ┆ Darabont  ┆ King,     ┆   ┆           ┆ 00 (estim ┆ 33        ┆ 22       │
│ Redemptio ┆           ┆           ┆ Frank     ┆   ┆           ┆ ated)     ┆           ┆ minutes  │
│ n         ┆           ┆           ┆ Darabont  ┆   ┆           ┆           ┆           ┆          │
│ Attack on ┆ 9.3       ┆ Yûichirô  ┆ Natsuki   ┆ … ┆ Japanese  ┆ null      ┆ $3,513,65 ┆ 2 hours  │
│ Titan the ┆           ┆ Hayashi   ┆ Hanae,    ┆   ┆           ┆           ┆ 9         ┆ 25       │
│ Movie:    ┆           ┆           ┆ Yoshimasa ┆   ┆           ┆           ┆           ┆ minutes  │
│ The…      ┆           ┆           ┆ Hosoy…    ┆   ┆           ┆           ┆           ┆          │
│ The       ┆ 9.2       ┆ Francis   ┆ Mario     ┆ … ┆ English,  ┆ $6,000,00 ┆ $250,342, ┆ 2 hours  │
│ Godfather ┆           ┆ Ford      ┆ Puzo,     ┆   ┆ Italian,  ┆ 0 (estima ┆ 198       ┆ 55       │
│           ┆           ┆ Coppola   ┆ Francis   ┆   ┆ Latin     ┆ ted)      ┆           ┆ minutes  │
│           ┆           ┆           ┆ Ford      ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ Coppo…    ┆   ┆           ┆           ┆           ┆          │
│ Hababam   ┆ 9.2       ┆ Ertem     ┆ Umur      ┆ … ┆ Turkish   ┆ null      ┆ null      ┆ 1 hour   │
│ Sinifi    ┆           ┆ Egilmez   ┆ Bugay,    ┆   ┆           ┆           ┆           ┆ 25       │
│           ┆           ┆           ┆ Rifat     ┆   ┆           ┆           ┆           ┆ minutes  │
│           ┆           ┆           ┆ Ilgaz     ┆   ┆           ┆           ┆           ┆          │
│ Ramayana: ┆ 9.2       ┆ Ram       ┆ Rani      ┆ … ┆ English   ┆ null      ┆ null      ┆ 2 hours  │
│ The       ┆           ┆ Mohan,    ┆ Burra,    ┆   ┆           ┆           ┆           ┆ 15       │
│ Legend of ┆           ┆ Yûgô      ┆ Ram       ┆   ┆           ┆           ┆           ┆ minutes  │
│ Prince…   ┆           ┆ Sakô,     ┆ Mohan,    ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ Koichi S… ┆ Yûgô Sa…  ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [61]:
df = df.rename(
    {"Average Rating": "Rating"}
)
df.columns

['Title',
 'Rating',
 'Director',
 'Writer',
 'Metascore',
 'Cast',
 'Release Date',
 'Country of Origin',
 'Languages',
 'Budget',
 'Worldwide Gross',
 'Runtime']

In [62]:
df.schema

Schema([('Title', String),
        ('Rating', Float64),
        ('Director', String),
        ('Writer', String),
        ('Metascore', Float64),
        ('Cast', String),
        ('Release Date', String),
        ('Country of Origin', String),
        ('Languages', String),
        ('Budget', String),
        ('Worldwide Gross', String),
        ('Runtime', String)])

In [63]:
df.null_count()

shape: (1, 12)
┌───────┬────────┬──────────┬────────┬───┬───────────┬────────┬─────────────────┬─────────┐
│ Title ┆ Rating ┆ Director ┆ Writer ┆ … ┆ Languages ┆ Budget ┆ Worldwide Gross ┆ Runtime │
│ ---   ┆ ---    ┆ ---      ┆ ---    ┆   ┆ ---       ┆ ---    ┆ ---             ┆ ---     │
│ u32   ┆ u32    ┆ u32      ┆ u32    ┆   ┆ u32       ┆ u32    ┆ u32             ┆ u32     │
╞═══════╪════════╪══════════╪════════╪═══╪═══════════╪════════╪═════════════════╪═════════╡
│ 0     ┆ 0      ┆ 0        ┆ 1      ┆ … ┆ 21        ┆ 2338   ┆ 1094            ┆ 0       │
└───────┴────────┴──────────┴────────┴───┴───────────┴────────┴─────────────────┴─────────┘

In [64]:
df.glimpse()

Rows: 4989
Columns: 12
$ Title             <str> 'The Shawshank Redemption', 'Attack on Titan the Movie: The Last Attack', 'The Godfather', 'Hababam Sinifi', 'Ramayana: The Legend of Prince Rama', 'The Silence of Swastika', 'Maya Bazaar', 'The Dark Knight', "Schindler's List", '12 Angry Men'
$ Rating            <f64> 9.3, 9.3, 9.2, 9.2, 9.2, 9.1, 9.1, 9.0, 9.0, 9.0
$ Director          <str> 'Frank Darabont', 'Yûichirô Hayashi', 'Francis Ford Coppola', 'Ertem Egilmez', 'Ram Mohan, Yûgô Sakô, Koichi Saski', 'Anuj Bhardwaj', 'Kadiri Venkata Reddy', 'Christopher Nolan', 'Steven Spielberg', 'Sidney Lumet'
$ Writer            <str> 'Stephen King, Frank Darabont', 'Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue', 'Mario Puzo, Francis Ford Coppola', 'Umur Bugay, Rifat Ilgaz', 'Rani Burra, Ram Mohan, Yûgô Sakô', 'Suzanne Bernert', 'Pingali Nagendra Rao, Kadiri Venkata Reddy', 'Jonathan Nolan, Christopher Nolan, David S. Goyer', 'Thomas Keneally, Steven Zaillian', 'Reginald Rose'
$ Metascore         <f64> 82.0, None, 100.0, None, None, None, None, 84.0, 95.0, 97.0
$ Cast              <str> 'Tim Robbins, Morgan Freeman, Bob Gunton, William Sadler, Clancy Brown, Gil Bellows, Mark Rolston, James Whitmore, Jeffrey DeMunn, Larry Brandenburg, Neil Giuntoli, Brian Libby, David Proval, Joseph Ragno, Jude Ciccolella, Paul McCrane, Renee Blaine, Scott Mann', 'Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue, Yui Ishikawa, Yûki Kaji, Hiroshi Kamiya, Takehito Koyasu, Shiori Mikami, Manami Numakura, Romi Park, Ayane Sakura, Yû Shimamura, Hiro Shimono, Kishô Taniyama', 'Marlon Brando, Al Pacino, James Caan, Diane Keaton, Richard S. Castellano, Robert Duvall, Sterling Hayden, John Marley, Richard Conte, Al Lettieri, Abe Vigoda, Talia Shire, Gianni Russo, John Cazale, Rudy Bond, Al Martino, Morgana King, Lenny Montana', 'Münir Özkul, Tarik Akan, Halit Akçatepe, Kemal Sunal, Adile Nasit, Sitki Akçatepe, Selim Nasit Özcan, Muharrem Gürses, Ahmet Ariman, Ertugrul Bilda, Talat Dumanli, Ekrem Dümer, Kemal Ergüvenç, Ercan Gezmis, Aysen Gruda, Dilaver Gür, Cem Gürdap, Bülent Haksever', 'Arun Govil, Nikhil Kapoor, Edie Mirman, Rael Padamsee, Namrata Sawhney, Uday Mathan, Shatrughan Sinha, Jinder Walia, Amrish Puri, Mishal Varma, Noel Godin, Shakti Singh, Dilip Sinha, Madhulika Varma, Mari Devon, Pearl Padamsee, Barbara Goodson, Shagufta Jaffrey', 'Suzanne Bernert', 'N.T. Rama Rao, S.V. Ranga Rao, Savitri, Akkineni Nageswara Rao, Rushyendramani, Seeta Rama Anjaneyulu Chilakalapudi, M.N. Nambiar, K.A. Thangavelu, Relangi Venkatramaiah, Balasubramaniam D., Gummadi, Sandhya, Chhayadevi, Suryakantham, Nagabhushanam, Ramana Reddy, Mukkamala, Mikkilineni', 'Christian Bale, Heath Ledger, Aaron Eckhart, Michael Caine, Maggie Gyllenhaal, Gary Oldman, Morgan Freeman, Monique Gabriela Curnen, Ron Dean, Cillian Murphy, Chin Han, Nestor Carbonell, Eric Roberts, Ritchie Coster, Anthony Michael Hall, Keith Szarabajka, Colin McFarlane, Joshua Harto', 'Liam Neeson, Ralph Fiennes, Ben Kingsley, Caroline Goodall, Jonathan Sagall, Embeth Davidtz, Malgorzata Gebel, Shmuel Levy, Mark Ivanir, Béatrice Macola, Andrzej Seweryn, Friedrich von Thun, Krzysztof Luft, Harry Nehring, Norbert Weisser, Adi Nitzan, Michael Schneider, Miri Fabian', 'Henry Fonda, Lee J. Cobb, Martin Balsam, John Fiedler, E.G. Marshall, Jack Klugman, Edward Binns, Jack Warden, Joseph Sweeney, Ed Begley, George Voskovec, Robert Webber, Rudy Bond, Tom Gorman, James Kelly, Billy Nelson, John Savoca, Walter Stocker'
$ Release Date      <str> 'October 14, 1994 (India)', 'November 8, 2024 (Japan)', '1978 (India)', 'April 1, 1975 (Turkey)', 'September 25, 2001 (India)', 'December 30, 2021 (India)', 'March 27, 1957 (India)', 'July 18, 2008 (India)', 'December 15, 1993 (India)', 'April 10, 1957 (United States)'
$ Country of Origin <str> 'United States', 'Japan', 'United States', 'Turkey', 'India, Japan', 'India', 'India', 'United States, United Kingdom', 'United States', 'United States'
$ Languages         <str> 'English', 'Japanese', 'English, Italian, Latin', 'Turkish', 'English', 'Hindi, English', 'Telugu, Tamil', 'English, Mandarin', 'English, Hebrew, German, Polish, Latin', 'English'
$ Budget            <str> '$25,000,000 (estimated)', None, '$6,000,000 (estimated)', None, None, None, None, '$185,000,000 (estimated)', '$22,000,000 (estimated)', '$350,000 (estimated)'
$ Worldwide Gross   <str> '$29,332,133', '$3,513,659', '$250,342,198', None, None, None, None, '$1,009,053,678', '$322,161,245', '$2,945'
$ Runtime           <str> '2 hours 22 minutes', '2 hours 25 minutes', '2 hours 55 minutes', '1 hour 25 minutes', '2 hours 15 minutes', '56 minutes', '3 hours 12 minutes', '2 hours 32 minutes', '3 hours 15 minutes', '1 hour 36 minutes'

In [65]:
df.describe()

shape: (9, 13)
┌────────────┬────────┬──────────┬────────────┬───┬────────────┬───────────┬───────────┬───────────┐
│ statistic  ┆ Title  ┆ Rating   ┆ Director   ┆ … ┆ Languages  ┆ Budget    ┆ Worldwide ┆ Runtime   │
│ ---        ┆ ---    ┆ ---      ┆ ---        ┆   ┆ ---        ┆ ---       ┆ Gross     ┆ ---       │
│ str        ┆ str    ┆ f64      ┆ str        ┆   ┆ str        ┆ str       ┆ ---       ┆ str       │
│            ┆        ┆          ┆            ┆   ┆            ┆           ┆ str       ┆           │
╞════════════╪════════╪══════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪═══════════╡
│ count      ┆ 4989   ┆ 4989.0   ┆ 4989       ┆ … ┆ 4968       ┆ 2651      ┆ 3895      ┆ 4989      │
│ null_count ┆ 0      ┆ 0.0      ┆ 0          ┆ … ┆ 21         ┆ 2338      ┆ 1094      ┆ 0         │
│ mean       ┆ null   ┆ 7.632892 ┆ null       ┆ … ┆ null       ┆ null      ┆ null      ┆ null      │
│ std        ┆ null   ┆ 0.365243 ┆ null       ┆ … ┆ null       ┆ null      ┆ null      ┆ null      │
│ min        ┆ #Home  ┆ 7.2      ┆ A.L. Vijay ┆ … ┆ Aboriginal ┆ $1,000,00 ┆ $1,003    ┆ 1 hour    │
│            ┆        ┆          ┆            ┆   ┆ ,          ┆ 0 (estima ┆           ┆           │
│            ┆        ┆          ┆            ┆   ┆ Japanese,  ┆ ted)      ┆           ┆           │
│            ┆        ┆          ┆            ┆   ┆ Hokkien    ┆           ┆           ┆           │
│ 25%        ┆ null   ┆ 7.3      ┆ null       ┆ … ┆ null       ┆ null      ┆ null      ┆ null      │
│ 50%        ┆ null   ┆ 7.6      ┆ null       ┆ … ┆ null       ┆ null      ┆ null      ┆ null      │
│ 75%        ┆ null   ┆ 7.8      ┆ null       ┆ … ┆ null       ┆ null      ┆ null      ┆ null      │
│ max        ┆ 色，戒 ┆ 9.3      ┆ Özer       ┆ … ┆ Zulu,      ┆ ₹991,000  ┆ ₹750,000, ┆ 9 hours   │
│            ┆        ┆          ┆ Kiziltan   ┆   ┆ Sotho,     ┆ (estimate ┆ 000       ┆ 26        │
│            ┆        ┆          ┆            ┆   ┆ Xhosa, Afr ┆ d)        ┆           ┆ minutes   │
│            ┆        ┆          ┆            ┆   ┆ ikaans,…   ┆           ┆           ┆           │
└────────────┴────────┴──────────┴────────────┴───┴────────────┴───────────┴───────────┴───────────┘

In [66]:
df["Runtime"].value_counts(sort=True)

shape: (182, 2)
┌────────────────────┬───────┐
│ Runtime            ┆ count │
│ ---                ┆ ---   │
│ str                ┆ u32   │
╞════════════════════╪═══════╡
│ 1 hour 35 minutes  ┆ 109   │
│ 1 hour 50 minutes  ┆ 109   │
│ 1 hour 43 minutes  ┆ 100   │
│ 1 hour 58 minutes  ┆ 94    │
│ 1 hour 40 minutes  ┆ 92    │
│ …                  ┆ …     │
│ 59 minutes         ┆ 1     │
│ 7 hours 1 minute   ┆ 1     │
│ 5 hours 50 minutes ┆ 1     │
│ 1 hour             ┆ 1     │
│ 55 minutes         ┆ 1     │
└────────────────────┴───────┘

In [67]:
def runtime_to_minutes(string: str) -> int:
    hours = re.search(r"(\d+) hours?", string)
    if hours:
        hours = int(hours.group(1))
    else:
        hours = 0
    minutes = re.search(r"(\d+) minutes", string)
    if minutes:
        minutes = int(minutes.group(1))
    else:
        minutes = 0
    return hours * 60 + minutes


runtime_to_minutes("2 hours 25 minutes")

145

In [68]:
df = df.with_columns(
    pl.col("Runtime")
    .map_elements(runtime_to_minutes, return_dtype=int)
    .alias("Runtime (minutes)")
)
df.head()

shape: (5, 13)
┌────────────┬────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Title      ┆ Rating ┆ Director   ┆ Writer    ┆ … ┆ Budget    ┆ Worldwide ┆ Runtime   ┆ Runtime   │
│ ---        ┆ ---    ┆ ---        ┆ ---       ┆   ┆ ---       ┆ Gross     ┆ ---       ┆ (minutes) │
│ str        ┆ f64    ┆ str        ┆ str       ┆   ┆ str       ┆ ---       ┆ str       ┆ ---       │
│            ┆        ┆            ┆           ┆   ┆           ┆ str       ┆           ┆ i64       │
╞════════════╪════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ The        ┆ 9.3    ┆ Frank      ┆ Stephen   ┆ … ┆ $25,000,0 ┆ $29,332,1 ┆ 2 hours   ┆ 142       │
│ Shawshank  ┆        ┆ Darabont   ┆ King,     ┆   ┆ 00 (estim ┆ 33        ┆ 22        ┆           │
│ Redemption ┆        ┆            ┆ Frank     ┆   ┆ ated)     ┆           ┆ minutes   ┆           │
│            ┆        ┆            ┆ Darabont  ┆   ┆           ┆           ┆           ┆           │
│ Attack on  ┆ 9.3    ┆ Yûichirô   ┆ Natsuki   ┆ … ┆ null      ┆ $3,513,65 ┆ 2 hours   ┆ 145       │
│ Titan the  ┆        ┆ Hayashi    ┆ Hanae,    ┆   ┆           ┆ 9         ┆ 25        ┆           │
│ Movie:     ┆        ┆            ┆ Yoshimasa ┆   ┆           ┆           ┆ minutes   ┆           │
│ The…       ┆        ┆            ┆ Hosoy…    ┆   ┆           ┆           ┆           ┆           │
│ The        ┆ 9.2    ┆ Francis    ┆ Mario     ┆ … ┆ $6,000,00 ┆ $250,342, ┆ 2 hours   ┆ 175       │
│ Godfather  ┆        ┆ Ford       ┆ Puzo,     ┆   ┆ 0 (estima ┆ 198       ┆ 55        ┆           │
│            ┆        ┆ Coppola    ┆ Francis   ┆   ┆ ted)      ┆           ┆ minutes   ┆           │
│            ┆        ┆            ┆ Ford      ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Coppo…    ┆   ┆           ┆           ┆           ┆           │
│ Hababam    ┆ 9.2    ┆ Ertem      ┆ Umur      ┆ … ┆ null      ┆ null      ┆ 1 hour 25 ┆ 85        │
│ Sinifi     ┆        ┆ Egilmez    ┆ Bugay,    ┆   ┆           ┆           ┆ minutes   ┆           │
│            ┆        ┆            ┆ Rifat     ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Ilgaz     ┆   ┆           ┆           ┆           ┆           │
│ Ramayana:  ┆ 9.2    ┆ Ram Mohan, ┆ Rani      ┆ … ┆ null      ┆ null      ┆ 2 hours   ┆ 135       │
│ The Legend ┆        ┆ Yûgô Sakô, ┆ Burra,    ┆   ┆           ┆           ┆ 15        ┆           │
│ of Prince… ┆        ┆ Koichi S…  ┆ Ram       ┆   ┆           ┆           ┆ minutes   ┆           │
│            ┆        ┆            ┆ Mohan,    ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Yûgô Sa…  ┆   ┆           ┆           ┆           ┆           │
└────────────┴────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [69]:
def money_to_usd(string: str | None) -> int:
    if not isinstance(string, str) or not "$" in string:
        return None
    budget = int(re.sub(r"[^\d]", "", string))
    return budget
money_to_usd("$6,000,000 (estimated)")

6000000

In [70]:
df = df.with_columns(
    pl.col("Budget").map_elements(money_to_usd, return_dtype=int).alias("Budget (usd)"),
    pl.col("Worldwide Gross").map_elements(money_to_usd, return_dtype=int).alias("Worldwide Gross (usd)"),
)
df.head()

shape: (5, 15)
┌────────────┬────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Title      ┆ Rating ┆ Director   ┆ Writer    ┆ … ┆ Runtime   ┆ Runtime   ┆ Budget    ┆ Worldwide │
│ ---        ┆ ---    ┆ ---        ┆ ---       ┆   ┆ ---       ┆ (minutes) ┆ (usd)     ┆ Gross     │
│ str        ┆ f64    ┆ str        ┆ str       ┆   ┆ str       ┆ ---       ┆ ---       ┆ (usd)     │
│            ┆        ┆            ┆           ┆   ┆           ┆ i64       ┆ i64       ┆ ---       │
│            ┆        ┆            ┆           ┆   ┆           ┆           ┆           ┆ i64       │
╞════════════╪════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ The        ┆ 9.3    ┆ Frank      ┆ Stephen   ┆ … ┆ 2 hours   ┆ 142       ┆ 25000000  ┆ 29332133  │
│ Shawshank  ┆        ┆ Darabont   ┆ King,     ┆   ┆ 22        ┆           ┆           ┆           │
│ Redemption ┆        ┆            ┆ Frank     ┆   ┆ minutes   ┆           ┆           ┆           │
│            ┆        ┆            ┆ Darabont  ┆   ┆           ┆           ┆           ┆           │
│ Attack on  ┆ 9.3    ┆ Yûichirô   ┆ Natsuki   ┆ … ┆ 2 hours   ┆ 145       ┆ null      ┆ 3513659   │
│ Titan the  ┆        ┆ Hayashi    ┆ Hanae,    ┆   ┆ 25        ┆           ┆           ┆           │
│ Movie:     ┆        ┆            ┆ Yoshimasa ┆   ┆ minutes   ┆           ┆           ┆           │
│ The…       ┆        ┆            ┆ Hosoy…    ┆   ┆           ┆           ┆           ┆           │
│ The        ┆ 9.2    ┆ Francis    ┆ Mario     ┆ … ┆ 2 hours   ┆ 175       ┆ 6000000   ┆ 250342198 │
│ Godfather  ┆        ┆ Ford       ┆ Puzo,     ┆   ┆ 55        ┆           ┆           ┆           │
│            ┆        ┆ Coppola    ┆ Francis   ┆   ┆ minutes   ┆           ┆           ┆           │
│            ┆        ┆            ┆ Ford      ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Coppo…    ┆   ┆           ┆           ┆           ┆           │
│ Hababam    ┆ 9.2    ┆ Ertem      ┆ Umur      ┆ … ┆ 1 hour 25 ┆ 85        ┆ null      ┆ null      │
│ Sinifi     ┆        ┆ Egilmez    ┆ Bugay,    ┆   ┆ minutes   ┆           ┆           ┆           │
│            ┆        ┆            ┆ Rifat     ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Ilgaz     ┆   ┆           ┆           ┆           ┆           │
│ Ramayana:  ┆ 9.2    ┆ Ram Mohan, ┆ Rani      ┆ … ┆ 2 hours   ┆ 135       ┆ null      ┆ null      │
│ The Legend ┆        ┆ Yûgô Sakô, ┆ Burra,    ┆   ┆ 15        ┆           ┆           ┆           │
│ of Prince… ┆        ┆ Koichi S…  ┆ Ram       ┆   ┆ minutes   ┆           ┆           ┆           │
│            ┆        ┆            ┆ Mohan,    ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Yûgô Sa…  ┆   ┆           ┆           ┆           ┆           │
└────────────┴────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [71]:
df = df.with_columns(
    pl.col("Worldwide Gross (usd)").sub(pl.col("Budget (usd)")).alias("Profit (usd)")
)
df.head()

shape: (5, 16)
┌────────────┬────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Title      ┆ Rating ┆ Director   ┆ Writer    ┆ … ┆ Runtime   ┆ Budget    ┆ Worldwide ┆ Profit    │
│ ---        ┆ ---    ┆ ---        ┆ ---       ┆   ┆ (minutes) ┆ (usd)     ┆ Gross     ┆ (usd)     │
│ str        ┆ f64    ┆ str        ┆ str       ┆   ┆ ---       ┆ ---       ┆ (usd)     ┆ ---       │
│            ┆        ┆            ┆           ┆   ┆ i64       ┆ i64       ┆ ---       ┆ i64       │
│            ┆        ┆            ┆           ┆   ┆           ┆           ┆ i64       ┆           │
╞════════════╪════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ The        ┆ 9.3    ┆ Frank      ┆ Stephen   ┆ … ┆ 142       ┆ 25000000  ┆ 29332133  ┆ 4332133   │
│ Shawshank  ┆        ┆ Darabont   ┆ King,     ┆   ┆           ┆           ┆           ┆           │
│ Redemption ┆        ┆            ┆ Frank     ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Darabont  ┆   ┆           ┆           ┆           ┆           │
│ Attack on  ┆ 9.3    ┆ Yûichirô   ┆ Natsuki   ┆ … ┆ 145       ┆ null      ┆ 3513659   ┆ null      │
│ Titan the  ┆        ┆ Hayashi    ┆ Hanae,    ┆   ┆           ┆           ┆           ┆           │
│ Movie:     ┆        ┆            ┆ Yoshimasa ┆   ┆           ┆           ┆           ┆           │
│ The…       ┆        ┆            ┆ Hosoy…    ┆   ┆           ┆           ┆           ┆           │
│ The        ┆ 9.2    ┆ Francis    ┆ Mario     ┆ … ┆ 175       ┆ 6000000   ┆ 250342198 ┆ 244342198 │
│ Godfather  ┆        ┆ Ford       ┆ Puzo,     ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆ Coppola    ┆ Francis   ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Ford      ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Coppo…    ┆   ┆           ┆           ┆           ┆           │
│ Hababam    ┆ 9.2    ┆ Ertem      ┆ Umur      ┆ … ┆ 85        ┆ null      ┆ null      ┆ null      │
│ Sinifi     ┆        ┆ Egilmez    ┆ Bugay,    ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Rifat     ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Ilgaz     ┆   ┆           ┆           ┆           ┆           │
│ Ramayana:  ┆ 9.2    ┆ Ram Mohan, ┆ Rani      ┆ … ┆ 135       ┆ null      ┆ null      ┆ null      │
│ The Legend ┆        ┆ Yûgô Sakô, ┆ Burra,    ┆   ┆           ┆           ┆           ┆           │
│ of Prince… ┆        ┆ Koichi S…  ┆ Ram       ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Mohan,    ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Yûgô Sa…  ┆   ┆           ┆           ┆           ┆           │
└────────────┴────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [75]:
highest_budget = df.sort(by="Budget (usd)", descending=True, nulls_last=True)[:10]
highest_budget.head(3)

shape: (3, 16)
┌────────────┬────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Title      ┆ Rating ┆ Director   ┆ Writer    ┆ … ┆ Runtime   ┆ Budget    ┆ Worldwide ┆ Profit    │
│ ---        ┆ ---    ┆ ---        ┆ ---       ┆   ┆ (minutes) ┆ (usd)     ┆ Gross     ┆ (usd)     │
│ str        ┆ f64    ┆ str        ┆ str       ┆   ┆ ---       ┆ ---       ┆ (usd)     ┆ ---       │
│            ┆        ┆            ┆           ┆   ┆ i64       ┆ i64       ┆ ---       ┆ i64       │
│            ┆        ┆            ┆           ┆   ┆           ┆           ┆ i64       ┆           │
╞════════════╪════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ Avengers:  ┆ 8.4    ┆ Anthony    ┆ Christoph ┆ … ┆ 180       ┆ 356000000 ┆ 279943910 ┆ 244343910 │
│ Endgame    ┆        ┆ Russo, Joe ┆ er        ┆   ┆           ┆           ┆ 0         ┆ 0         │
│            ┆        ┆ Russo      ┆ Markus,   ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Stephen   ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Mc…       ┆   ┆           ┆           ┆           ┆           │
│ The Little ┆ 7.2    ┆ Rob        ┆ David     ┆ … ┆ 135       ┆ 355100000 ┆ 569626289 ┆ 214526289 │
│ Mermaid    ┆        ┆ Marshall   ┆ Magee,    ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Hans      ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Christian ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ An…       ┆   ┆           ┆           ┆           ┆           │
│ Avatar:    ┆ 7.5    ┆ James      ┆ James     ┆ … ┆ 192       ┆ 350000000 ┆ 232025028 ┆ 197025028 │
│ The Way of ┆        ┆ Cameron    ┆ Cameron,  ┆   ┆           ┆           ┆ 1         ┆ 1         │
│ Water      ┆        ┆            ┆ Rick      ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Jaffa,    ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Ama…      ┆   ┆           ┆           ┆           ┆           │
└────────────┴────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [91]:
# vega-altair under the hood https://altair-viz.github.io/getting_started/overview.html
highest_budget.plot.scatter(
    x="Runtime (minutes)", y="Budget (usd)", color="Profit (usd)"
).properties(width=400, height=400, title="Irises").configure_range(
    ramp="diverging",
)

alt.Chart(...)

In [92]:
df.filter(pl.col("Cast").str.contains("Johnny Depp"))

shape: (22, 16)
┌────────────┬────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Title      ┆ Rating ┆ Director   ┆ Writer    ┆ … ┆ Runtime   ┆ Budget    ┆ Worldwide ┆ Profit    │
│ ---        ┆ ---    ┆ ---        ┆ ---       ┆   ┆ (minutes) ┆ (usd)     ┆ Gross     ┆ (usd)     │
│ str        ┆ f64    ┆ str        ┆ str       ┆   ┆ ---       ┆ ---       ┆ (usd)     ┆ ---       │
│            ┆        ┆            ┆           ┆   ┆ i64       ┆ i64       ┆ ---       ┆ i64       │
│            ┆        ┆            ┆           ┆   ┆           ┆           ┆ i64       ┆           │
╞════════════╪════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ Pirates of ┆ 8.1    ┆ Gore       ┆ Ted       ┆ … ┆ 143       ┆ 140000000 ┆ 654264546 ┆ 514264546 │
│ the        ┆        ┆ Verbinski  ┆ Elliott,  ┆   ┆           ┆           ┆           ┆           │
│ Caribbean: ┆        ┆            ┆ Terry     ┆   ┆           ┆           ┆           ┆           │
│ The …      ┆        ┆            ┆ Rossio,   ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Stu…      ┆   ┆           ┆           ┆           ┆           │
│ Platoon    ┆ 8.1    ┆ Oliver     ┆ Oliver    ┆ … ┆ 120       ┆ 6000000   ┆ 138545632 ┆ 132545632 │
│            ┆        ┆ Stone      ┆ Stone     ┆   ┆           ┆           ┆           ┆           │
│ Edward Sci ┆ 7.9    ┆ Tim Burton ┆ Tim       ┆ … ┆ 105       ┆ 20000000  ┆ 86024005  ┆ 66024005  │
│ ssorhands  ┆        ┆            ┆ Burton,   ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Caroline  ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Thompson  ┆   ┆           ┆           ┆           ┆           │
│ Ed Wood    ┆ 7.8    ┆ Tim Burton ┆ Rudolph   ┆ … ┆ 127       ┆ 18000000  ┆ 5888045   ┆ -12111955 │
│            ┆        ┆            ┆ Grey,     ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Scott Ale ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ xander,…  ┆   ┆           ┆           ┆           ┆           │
│ What's     ┆ 7.7    ┆ Lasse      ┆ Peter     ┆ … ┆ 118       ┆ 11000000  ┆ 10032765  ┆ -967235   │
│ Eating     ┆        ┆ Hallström  ┆ Hedges    ┆   ┆           ┆           ┆           ┆           │
│ Gilbert    ┆        ┆            ┆           ┆   ┆           ┆           ┆           ┆           │
│ Grape      ┆        ┆            ┆           ┆   ┆           ┆           ┆           ┆           │
│ …          ┆ …      ┆ …          ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …         │
│ Rango      ┆ 7.3    ┆ Gore       ┆ John      ┆ … ┆ 107       ┆ 135000000 ┆ 245724603 ┆ 110724603 │
│            ┆        ┆ Verbinski  ┆ Logan,    ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Gore Verb ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ inski,    ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Ja…       ┆   ┆           ┆           ┆           ┆           │
│ Lost in La ┆ 7.3    ┆ Keith      ┆ Keith     ┆ … ┆ 93        ┆ null      ┆ 1407019   ┆ null      │
│ Mancha     ┆        ┆ Fulton,    ┆ Fulton,   ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆ Louis Pepe ┆ Louis     ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Pepe      ┆   ┆           ┆           ┆           ┆           │
│ Chocolat   ┆ 7.2    ┆ Lasse      ┆ Joanne    ┆ … ┆ 120       ┆ 25000000  ┆ 152700626 ┆ 127700626 │
│            ┆        ┆ Hallström  ┆ Harris,   ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Robert    ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Nelson J… ┆   ┆           ┆           ┆           ┆           │
│ Arizona    ┆ 7.2    ┆ Emir       ┆ David     ┆ … ┆ 142       ┆ 19000000  ┆ 112547    ┆ -18887453 │
│ Dream      ┆        ┆ Kusturica  ┆ Atkins,   ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Emir      ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Kusturica ┆   ┆           ┆           ┆           ┆           │
│ Yamawatta  ┆ 7.2    ┆ Andrew     ┆ David     ┆ … ┆ 115       ┆ null      ┆ 755878    ┆ null      │
│            ┆        ┆ Levitas    ┆ Kessler,  ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Stephen   ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆            ┆ Deuters…  ┆   ┆           ┆           ┆           ┆           │
└────────────┴────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [95]:
df.group_by("Director").agg(total_gross=pl.col("Worldwide Gross (usd)").sum()).sort(
    by="total_gross", descending=True
)[:10]

shape: (10, 2)
┌──────────────────────────┬─────────────┐
│ Director                 ┆ total_gross │
│ ---                      ┆ ---         │
│ str                      ┆ i64         │
╞══════════════════════════╪═════════════╡
│ James Cameron            ┆ 8705319635  │
│ Steven Spielberg         ┆ 7988558298  │
│ Anthony Russo, Joe Russo ┆ 6721322058  │
│ Peter Jackson            ┆ 6484962056  │
│ Christopher Nolan        ┆ 6205459936  │
│ David Yates              ┆ 5003353447  │
│ Jon Watts                ┆ 3966372984  │
│ Joss Whedon              ┆ 2966001713  │
│ J.J. Abrams              ┆ 2924357232  │
│ Robert Zemeckis          ┆ 2793892268  │
└──────────────────────────┴─────────────┘

In [96]:
df = df.with_columns(
    pl.col("Release Date")
    .map_elements(lambda x: int(re.search(r"\d{4}", x).group()), return_dtype=int)
    .alias("Year")
)
df = df.with_columns(
    pl.col("Year")
    .map_elements(lambda x: round(x, -1), return_dtype=int)
    .alias("Decade")
)
df[["Release Date", "Year", "Decade"]].head()

shape: (5, 3)
┌────────────────────────────┬──────┬────────┐
│ Release Date               ┆ Year ┆ Decade │
│ ---                        ┆ ---  ┆ ---    │
│ str                        ┆ i64  ┆ i64    │
╞════════════════════════════╪══════╪════════╡
│ October 14, 1994 (India)   ┆ 1994 ┆ 1990   │
│ November 8, 2024 (Japan)   ┆ 2024 ┆ 2020   │
│ 1978 (India)               ┆ 1978 ┆ 1980   │
│ April 1, 1975 (Turkey)     ┆ 1975 ┆ 1980   │
│ September 25, 2001 (India) ┆ 2001 ┆ 2000   │
└────────────────────────────┴──────┴────────┘

In [97]:
df.write_parquet("polars_parquet", partition_by="Decade")

In [98]:
# https://docs.pola.rs/user-guide/sql/intro/#register-dataframes
# Polars translates SQL queries into expressions, which are then executed using its own engine
query = """
    SELECT * FROM df
    WHERE REGEXP_LIKE(`Cast`, '.*Freeman.*')
"""
pl.sql(query).collect().head()

shape: (5, 18)
┌─────────────┬────────┬─────────────┬─────────────┬───┬─────────────┬─────────────┬──────┬────────┐
│ Title       ┆ Rating ┆ Director    ┆ Writer      ┆ … ┆ Worldwide   ┆ Profit      ┆ Year ┆ Decade │
│ ---         ┆ ---    ┆ ---         ┆ ---         ┆   ┆ Gross (usd) ┆ (usd)       ┆ ---  ┆ ---    │
│ str         ┆ f64    ┆ str         ┆ str         ┆   ┆ ---         ┆ ---         ┆ i64  ┆ i64    │
│             ┆        ┆             ┆             ┆   ┆ i64         ┆ i64         ┆      ┆        │
╞═════════════╪════════╪═════════════╪═════════════╪═══╪═════════════╪═════════════╪══════╪════════╡
│ The         ┆ 9.3    ┆ Frank       ┆ Stephen     ┆ … ┆ 29332133    ┆ 4332133     ┆ 1994 ┆ 1990   │
│ Shawshank   ┆        ┆ Darabont    ┆ King, Frank ┆   ┆             ┆             ┆      ┆        │
│ Redemption  ┆        ┆             ┆ Darabont    ┆   ┆             ┆             ┆      ┆        │
│ The Dark    ┆ 9.0    ┆ Christopher ┆ Jonathan    ┆ … ┆ 1009053678  ┆ 824053678   ┆ 2008 ┆ 2010   │
│ Knight      ┆        ┆ Nolan       ┆ Nolan,      ┆   ┆             ┆             ┆      ┆        │
│             ┆        ┆             ┆ Christopher ┆   ┆             ┆             ┆      ┆        │
│             ┆        ┆             ┆ No…         ┆   ┆             ┆             ┆      ┆        │
│ Se7en       ┆ 8.6    ┆ David       ┆ Andrew      ┆ … ┆ 327333559   ┆ 294333559   ┆ 1995 ┆ 2000   │
│             ┆        ┆ Fincher     ┆ Kevin       ┆   ┆             ┆             ┆      ┆        │
│             ┆        ┆             ┆ Walker      ┆   ┆             ┆             ┆      ┆        │
│ Back to the ┆ 8.5    ┆ Robert      ┆ Robert      ┆ … ┆ 384577472   ┆ 365577472   ┆ 1986 ┆ 1990   │
│ Future      ┆        ┆ Zemeckis    ┆ Zemeckis,   ┆   ┆             ┆             ┆      ┆        │
│             ┆        ┆             ┆ Bob Gale    ┆   ┆             ┆             ┆      ┆        │
│ The Dark    ┆ 8.4    ┆ Christopher ┆ Jonathan    ┆ … ┆ 1114975066  ┆ 864975066   ┆ 2012 ┆ 2010   │
│ Knight      ┆        ┆ Nolan       ┆ Nolan,      ┆   ┆             ┆             ┆      ┆        │
│ Rises       ┆        ┆             ┆ Christopher ┆   ┆             ┆             ┆      ┆        │
│             ┆        ┆             ┆ No…         ┆   ┆             ┆             ┆      ┆        │
└─────────────┴────────┴─────────────┴─────────────┴───┴─────────────┴─────────────┴──────┴────────┘

In [99]:
# requires connectorx
# read_database_uri
pl.read_database_uri(
    "SELECT * FROM orders",
    os.environ["SQL_CONNECTION"]
)

shape: (6, 5)
┌─────┬────────────────────────┬───────────────────────┬───────────────────────┬───────────────────┐
│ id  ┆ created_at             ┆ updated_at            ┆ uploaded_at           ┆ data              │
│ --- ┆ ---                    ┆ ---                   ┆ ---                   ┆ ---               │
│ i32 ┆ datetime[μs, UTC]      ┆ datetime[μs, UTC]     ┆ datetime[μs, UTC]     ┆ str               │
╞═════╪════════════════════════╪═══════════════════════╪═══════════════════════╪═══════════════════╡
│ 1   ┆ 2025-01-08 11:50:01    ┆ 2025-01-08 11:50:01   ┆ 2025-01-08 12:00:00   ┆ some string       │
│     ┆ UTC                    ┆ UTC                   ┆ UTC                   ┆                   │
│ 2   ┆ 2025-01-08 11:50:15    ┆ 2025-01-08 11:50:15   ┆ 2025-01-08 12:00:00   ┆ some other string │
│     ┆ UTC                    ┆ UTC                   ┆ UTC                   ┆                   │
│ 3   ┆ 2025-01-08 11:51:06    ┆ 2025-01-08 11:52:31   ┆ 2025-01-08 12:00:00   ┆ other string      │
│     ┆ UTC                    ┆ UTC                   ┆ UTC                   ┆                   │
│ 4   ┆ 2025-01-08 11:52:01    ┆ 2025-01-08 12:11:01   ┆ 2025-01-08 12:00:00   ┆ changed order     │
│     ┆ UTC                    ┆ UTC                   ┆ UTC                   ┆                   │
│ 5   ┆ 2025-01-08 11:52:15    ┆ 2025-01-08 11:52:15   ┆ 2025-01-08 12:00:00   ┆ another string    │
│     ┆ UTC                    ┆ UTC                   ┆ UTC                   ┆                   │
│ 6   ┆ 2025-01-08 11:52:26    ┆ 2025-01-08 11:54:31   ┆ 2025-01-08 12:00:00   ┆ yolo string       │
│     ┆ UTC                    ┆ UTC                   ┆ UTC                   ┆                   │
└─────┴────────────────────────┴───────────────────────┴───────────────────────┴───────────────────┘

Performance:
https://towardsdatascience.com/high-performance-data-processing-pandas-2-vs-polars-a-vcpu-perspective-e922d3064f4e